.cv-header-container {
  display: flex;
  padding: 40px;
  padding-bottom: 0;
  gap: 10px;
}

.cv-photo-container {
  border: 2px dashed #000;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // text-align: center;
  // justify-content: center;
  // align-items: center;
  // cursor: pointer;
}

// .cv-photo {
//   width: 150px;
// }

.cv-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cv-name {
  font-size: 2.2rem;
  font-weight: bold;
}

.cv-summary {
  font-size: 1.1rem;
}
